* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    background-color: #222;
    padding-left: calc(50% - 830px);
    padding-right: calc(50% - 830px);
}

.header {
    width: 1600px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_header_logo {
    margin-right: 41px;
}


.top_content {
    width: 1600px;
    background-color: #F1E4E6;
    display: flex;
    margin-bottom: 65px;
}


.right_top {
    display: flex;
    align-items: center;
    justify-items: end;
}

.center_content {
    width: 1600px;
}

.container_center {
    width: 1140;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_top {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}

.center_top_offer {
    position: relative;
    display: inline-block;
}

.center_top_offer span{
    background: rgba(0,0,0,0);
    color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 19%;
    bottom: 45%;
    font-size: 18px;
    padding: 3px 5px;
}

.center_top_offer_2 {
    position: relative;
    display: inline-block;
}

.center_top_offer_2 span{
    background: rgba(0, 0, 0, 0);
    color: #fff;
    border-radius: 2px;
    position: absolute;
    right: 40%;
    bottom: 38%;
    font-size: 18px;
    padding: 3px 5px;
}

.text_9_10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_9 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_10 {
    color: #F16D7F;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}



.center_low {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 96px;
}

.text_box {
    margin-left: 16px;
}

.text_box_title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.mix_text_color {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text_box_text_black {
    color: #222;
    font-family: Lato;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 9px;
}

.text_box_text_red {
    color: #F16D7F;
    font-family: Lato;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.low_text_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;
}
.low_content {
    width: 1600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
}


.h3_low {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p_low {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.cti_1 {
    background-size: cover;
    background-position: center;
    background-image: url(img/center/Layer\ 43.png);
}

.cti_2 {
    background-size: cover;
    background-position: center;
    background-image: url(img/center/Rectangle\ 30.png);

}

.cti_3 {
    background-size: cover;
    background-position: center;
    background-image: url(img/center/Rectangle\ 30\ \(1\).png);
}

.cti_4 {
    width: 1140px;
    height: 5%;
    background-size: cover;
    background-position: center;
    background-image: url(img/center/Rectangle\ 20\ \(2\).png);

}


.low_grid_content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    justify-content: center;
    gap: 30px;
}

.low_grid_text_box {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    background-color: #F8F8F8;
    gap: 16px;
    padding: 24px 16px;
    align-items: flex-start;
    justify-content: center;
}

.item {
    width: 360px;
    height: 581px;
    background-color: #F7E4E2;
    margin-bottom: 48px;
}

.img {
    height: 420px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h5_grid_title {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p_greed_text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.super_low_text {
    width: 1600px;
    display:flex;
    justify-content: center;
    margin-bottom: 60px;
    background-color: #FFF;
}

.ref_low_text {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px 14px 39px;
    border: 2px solid #F26376;
}

